In [1]:
import pandas as pd
f = open('清洗后的数据.csv')
file = pd.read_csv(f, encoding = 'utf-8')
file.head()

,Direction,District,Elevator,Floor,Garden,Id,Layout,Price,Region,Renovation,Size,Year
0,东西,灯市口,未知,6,锡拉胡同21号院,101102647043,3室1厅,780.0,东城,精装,75.0,1988
1,南北,东单,无电梯,6,东华门大街,101102650978,2室1厅,705.0,东城,精装,60.0,1988
2,南西,崇文门,有电梯,16,新世界中心,101102672743,3室1厅,1400.0,东城,其他,210.0,1996
3,南,崇文门,未知,7,兴隆都市馨园,101102577410,1室1厅,420.0,东城,精装,39.0,2004
4,南,陶然亭,有电梯,19,中海紫御公馆,101102574696,2室2厅,998.0,东城,精装,90.0,2010

In [2]:
# 构建衍生变量
file['age'] = 2021 - file['Year']
file.head()

,Direction,District,Elevator,Floor,Garden,Id,Layout,Price,Region,Renovation,Size,Year,age
0,东西,灯市口,未知,6,锡拉胡同21号院,101102647043,3室1厅,780.0,东城,精装,75.0,1988,33
1,南北,东单,无电梯,6,东华门大街,101102650978,2室1厅,705.0,东城,精装,60.0,1988,33
2,南西,崇文门,有电梯,16,新世界中心,101102672743,3室1厅,1400.0,东城,其他,210.0,1996,25
3,南,崇文门,未知,7,兴隆都市馨园,101102577410,1室1厅,420.0,东城,精装,39.0,2004,17
4,南,陶然亭,有电梯,19,中海紫御公馆,101102574696,2室2厅,998.0,东城,精装,90.0,2010,11

In [3]:
len(file)

22150

In [4]:
len(file['District'].unique())

232

In [5]:
len(file['Garden'].unique())

4405

district和garden两个变量的种类过多，不建议进行入模分析，剔除

In [6]:
col_list = ['Direction', 'Elevator', 'Floor', 'Layout','Region', 'Renovation', 'Size', 'age', 'Price']
file_a = file[col_list]
file_a.head()

  Direction Elevator  Floor Layout Region Renovation   Size  age   Price
0        东西       未知      6   3室1厅     东城         精装   75.0   33   780.0
1        南北      无电梯      6   2室1厅     东城         精装   60.0   33   705.0
2        南西      有电梯     16   3室1厅     东城         其他  210.0   25  1400.0
3         南       未知      7   1室1厅     东城         精装   39.0   17   420.0
4         南      有电梯     19   2室2厅     东城         精装   90.0   11   998.0

In [7]:
file_a.corr()

          Floor      Size       age     Price
Floor  1.000000  0.005616 -0.367867  0.119933
Size   0.005616  1.000000 -0.285581  0.670762
age   -0.367867 -0.285581  1.000000 -0.068871
Price  0.119933  0.670762 -0.068871  1.000000

上面的矩阵为连续性变量之间的相关性研究，可以看到，三个连续性变量之间并没有存在强相关性（以0.75为阈值），故可以纳入下一步中进行离散型、连续性之间的相关系数研究

使用sklearn中的preprocessing对离散型数据进行数据化处理，再进行相关系数分析

In [8]:
from sklearn import preprocessing
dis_col = ['Direction', 'Elevator', 'Layout', 'Region', 'Renovation']

In [9]:
for x in dis_col:
    label = preprocessing.LabelEncoder()
    file_a[x] = label.fit_transform(file_a[x])

D:\conda\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [10]:
file_a.corr()

,Direction,Elevator,Floor,Layout,Region,Renovation,Size,age,Price
Direction,1.000000,-0.042997,-0.132053,0.158905,0.032417,0.020585,0.136595,-0.026882,0.034376
Elevator,-0.042997,1.000000,0.269168,-0.019047,0.003251,0.054124,0.046044,-0.226384,0.053855
Floor,-0.132053,0.269168,1.000000,-0.152220,-0.082165,0.097405,0.005616,-0.367867,0.119933
Layout,0.158905,-0.019047,-0.152220,1.000000,0.050219,0.040789,0.733593,-0.102686,0.459345
Region,0.032417,0.003251,-0.082165,0.050219,1.000000,0.036311,0.040310,0.029547,0.037933
Renovation,0.020585,0.054124,0.097405,0.040789,0.036311,1.000000,0.077743,-0.133570,0.087387
Size,0.136595,0.046044,0.005616,0.733593,0.040310,0.077743,1.000000,-0.285581,0.670762
age,-0.026882,-0.226384,-0.367867,-0.102686,0.029547,-0.133570,-0.285581,1.000000,-0.068871
Price,0.034376,0.053855,0.119933,0.459345,0.037933,0.087387,0.670762,-0.068871,1.000000

In [11]:
file_a.head()

   Direction  Elevator  Floor  Layout  Region  Renovation   Size  age   Price
0          3         2      6      16       0           3   75.0   33   780.0
1          9         0      6       9       0           3   60.0   33   705.0
2         10         1     16      16       0           0  210.0   25  1400.0
3          7         2      7       2       0           3   39.0   17   420.0
4          7         1     19      10       0           3   90.0   11   998.0

可以看到，layout和size的相关系数最大，为0.73，但仍处于阈值0.75之下，其他变量之间线性相关性也不存在高度共线性，因此所有变量均可入模

In [12]:
file_a.to_csv('建模数据.csv', encoding='gb18030', index = False)